<% layout('layouts/boilerplate') %>

    <h1>All Routes</h1>
    <nav>
        <a href="/routes/new">Add a New Route</a>
    </nav>

    <% for(let route of routes){ %>
        <div class="card mb-2">
            <a href="routes/<%= route._id %>">
                <h5 class="card-title"><%= route.title %> - <%= route.crag %></h5>
            </a>
            <div>
                <span class="card-text">Rating: <%= route.rating %></span>
                <span class="card-text text-muted"><%=route.location.city%>, <%=route.location.state%></span>
            </div>
        </div>
    <% } %>
